body
{
	font-family: serif;
	color: #000000;
	margin: 2%;
	background-image: url("images/Grassy.jpg"); 
	background-size: cover;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	z-index: 67%;
} /* This the the body formatting in the CSS*/

div
{
	border: 10px solid black;
	background-color: black;
    padding: 50px 30px 50px 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1300px;
} /* This is where I format the black background that is ontop of the grassy background.*/

ul
{ 
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #ffffff;
	font-size: 30px;
}

ul li
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

h1
{
	color: #e60000;
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
	text-shadow: 0px 3px 0px #0020C2,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

p
{
	text-indent: 50px;
	color: #ffffff;
	font-size: 30px;
	text-align:justify;
}	

#img01
{
	margin: 10px;
	padding-left: 10px;
	float: right;
	width: 300px; 
	height: 400px;
}

#img02
{
	margin: 10px;
	float: left; 
	width: 420px; 
	height: 280px;
	padding-right: 10px;
}

#img03
{
	float: left; 
	width: 220px; 
	height: 300px;
	padding-right: 15px;
}

#img04
{
	float: right; 
	width: 170px; 
	height: 240px;
	padding-left: 15px;
}

#img05
{
	position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
	width: 100%; 
	height: 1100px;
}


#a01
{
	color: pink;
	font-size: 14;
	text-align: right;
	float: right;
}

#a02
{
	color: pink;
	font-size: 14;
}
