body
{
	font-family: serif;
	color: #000000;
	margin: 2%;
	background-image: url("images/Grassy.jpg"); 
	background-size: cover;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
} /* This the the body formatting in the CSS*/

div
{
	border: 15px solid black;
	background-color: black;
    padding: 50px 30px 50px 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1400px;
} /* This is where I format the black background that is ontop of the grassy background*/

#ul01
{ 
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #ffffff;
	font-size: 30px;
}

h1
{
	color: #e60000;
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
	text-shadow: 0px 3px 0px #0020C2,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

ul.center
{ 
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #ffffff;
	font-size: 30px;
}

ul #li01
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

ul #li02
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

ul #li03
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

ul #li04
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

ul #li37
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

h16
{
	color: #e60000;
	font-size: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
	text-shadow: 0px 3px 0px #0020C2,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}
#img01
{
	margin-right: 45px;
	float: right; 
	width: 370px; 
	height: 270px;">
}
#img02
{
	margin-right: 45px;
	float: left; 
	width: 380px; 
	height: 250px;
}
#img03
{
	margin-right: 45px;
	float: right; 
	width: 490px; 
	height: 270px;
}
#img04
{
	margin-right: 45px;
	float: left; 
	width: 380px; 
	height: 250px;
}
#img05
{
	float: right; 
	width: 400px; 
	height: 300px;
	padding-left: 15px;
}
#img06
{	
	margin-right: 45px;
	float: left; 
	width: 350px; 
	height: 320px;
}
#img07
{
	float: right; 
	width: 270px; 
	height: 400px;
	padding-left: 15px;
}
#img08
{
	position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
	width: 100%; 
	height: 1200px;
}
p
{
	text-indent: 50px;
	color: #ffffff;
	font-size: 30px;
}
border 
{
  color: black;
}
#ul02
{
	background-color: black;
}
#li05
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li05 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li06
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li06 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li07
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li07 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li08
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li08 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li09
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li09 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#ul03
{
	background-color: black;
}
#li10
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li10 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li11
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li11 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li12
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li12 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li13
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li13 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li14
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li14 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li15
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li15 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li16
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li16 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li17
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li17 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li18
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li18 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li19
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li19 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li20
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li20 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li21
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li21 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li22
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li22 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li23
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li23 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li24
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li24 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li25
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li25 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li26
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li26 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li27
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li27 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li28
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li28 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li29
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li29 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li30
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li30 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li31
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li31 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li32
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li32 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li33
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li33 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li33 blockquote
{
  color: white; /* text color */
  font-size: 30px;
}
#li34
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li34 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#li35
{
  color: white; /* bullet color */
  font-size: 30px;
}
#li35 span 
{
  color: white; /* text color */
  font-size: 30px;
}
#a01
{
	color: white;
}
#a02
{
	color: pink;
	font-size: 14;
	text-align: right;
	float: right;
}
#a03
{
	color: pink;
	font-size: 14;
}