body
{
	font-family: serif;
	color: #000000;
	margin: 2%;
	background-image: url("images/Grassy.jpg"); 
	background-size: cover;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	zoom: 75%;
} /* This the the body formatting in the CSS.*/

div
{
	border: 10px solid black;
	background-color: black;
    padding: 50px 30px 50px 80px;
	margin-left: auto;
	margin-right: auto;
} /* This is where I format the black background that is ontop of the grassy background.*/

ul
{ 
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #ffffff;
	font-size: 30px;
} /*This is an unordered list, and here I style the list so that it becomes horizontal, and so that there is a border.*/

ul li
{
	list-style-type: none;
	display: inline;
	margin-right: 0.5em;
	margin-left: 0.5em;
} /*This is where I made the links show up with spaces, and a border around them.*/

p
{
	text-indent: 50px;
	color: #ffffff;
	font-size: 30px;
	text-align: center; 
}/*Here I formatted all the paragraphs*/

a
{
	color: #96416a;
}

#a01
{
	color: blue;
}

#a02
{
	color: blue;
}

#a03
{
	color: blue;
}

#a04
{
	color: blue;
}
